@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    background-color: #6e5c62;
    color: white
}

hr {
    width: 600px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

#board {
    width: 350px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius: 15px;
    background-color: #615458;

    /* Text */
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Flip Animation */
    perspective: 1000px;
    transition: transform 0.5s;
}

.tile.flip {
    transform: rotateY(180deg);
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #4c4347;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Hover Animation */
    transition: transform 100ms linear;
}

.key-tile:hover {
    transform: scale(1.1);
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    background-color: #4c4347;
    border-radius: 15px;
    cursor: pointer;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Hover Animation */
    transition: transform 100ms linear;
}

.enter-key-tile:hover {
    transform: scale(1.1);
}

.correct {
    background-color: #3aa394;
    color: white;
}

.present {
    background-color: #d3ad69;
    color: white;
}

.absent {
    background-color: #312a2c;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #dcdcdc;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
}